---
layout: page
title: Posts
---
<ul>
  <% collections.posts.resources.each do |post| %>
    <li>
      <a href="<%= post.relative_url %>"><%= post.data.title %></a>
    </li>
  <% end %>
</ul>

If you have a lot of posts, you may want to consider adding <%= link_to "pagination", "https://www.bridgetownrb.com/docs/content/pagination" %>!
<br>
<br>

<h1>Wszystkie posty</h1>

<% collections.posts.resources.each do |post| %>
  <div class="flex items-center justify-center ">
  <article class="prose xl:prose-xl text-center">
    <h2><a href="<%= post.relative_url %>"><%= post.data[:title] %></a></h2>
    <p><small><%= post.date.strftime("%Y-%m-%d") %></small></p>

    <% author_key = post.data[:author] %>
    <% author = site.data[:users][author_key] if author_key %>

    <% if author %>
      <p><strong>Autor:</strong> <%= author[:name] %></p>
    <% else %>
      <p><em>Autor nieznany</em></p>
    <% end %>

    <p><%= post.content.strip[0..30] %>...</p>

    <a href="<%= post.relative_url %>">Read more →</a>
    <hr>
  </article>
  </div>
<% end %>
