---
layout: page
title: Posts
---
<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="text-center">
      <h2 class="text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl">Wszystkie posty</h2>
      <p class="mt-2 text-lg/8 text-gray-600">Poznaj nasze najnowsze wpisy i odkryj coś nowego!</p>
    </div>
    <div class="mx-auto mt-10 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 border-t border-gray-200 pt-10 sm:mt-16 sm:pt-16 lg:mx-0 lg:max-w-none lg:grid-cols-3">
      <% collections.posts.resources.each do |post| %>
        <article class="flex max-w-xl flex-col items-start justify-between">
          <div class="flex items-center gap-x-4 text-xs">
            <time datetime="<%= post.date.strftime('%Y-%m-%d') %>" class="text-gray-500"><%= post.date.strftime("%Y-%m-%d") %></time>
            <a href="#" class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100"><%= post.data[:categories][0] %></a>
          </div>
          <div class="group relative">
            <h3 class="mt-3 text-lg/6 font-semibold text-gray-900 group-hover:text-gray-600">
              <a href="<%= post.relative_url %>">
                <span class="absolute inset-0"></span>
                <%= post.data[:title] %>
              </a>
            </h3>
            <p class="mt-5 line-clamp-3 text-sm/6 text-gray-600"><%= Nokogiri::HTML(post.content).text.strip[0..100] %>...</p>
          </div>
          <div class="relative mt-8 flex items-center gap-x-4">
            <% author_key = post.data[:author] %>
            <% author = site.data[:users][author_key] if author_key %>
            <% if author %>
              <% if author[:avatar] %>
                <img src="<%= author[:avatar] %>" alt="" class="size-10 rounded-full bg-gray-50">
              <% else %>
                <img src="https://via.placeholder.com/40" alt="Placeholder avatar" class="size-10 rounded-full bg-gray-50">
              <% end %>
              <div class="text-sm/6">
                <p class="font-semibold text-gray-900">
                  <a href="#">
                    <span class="absolute inset-0"></span>
                    <%= author[:name] %>
                  </a>
                </p>
                <p class="text-gray-600">Autor</p>
              </div>
            <% else %>
              <div class="text-sm/6">
                <p class="font-semibold text-gray-900">
                  <em>Autor nieznany</em>
                </p>
              </div>
            <% end %>
          </div>
        </article>
      <% end %>
    </div>
  </div>
</div>